{% autoescape off %}
Hello {{ user.first_name|default:user.username }},

You're receiving this email because a password reset was requested for your account on Studistics.

Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours.

If you didn't request this, please ignore this email. Your account will remain secure.

Best regards,
Studistics Team

Note: Never share this link with anyone.
{% endautoescape %}